.preview-flex {
    background: #F9FAFC;
    padding: 68px 0 92px;
}

.preview-flex__container {
    margin: 0 -15px;
    display: flex;
}

.preview-flex__card {
    height: 367px;
    flex-basis: 350px;
    margin: 15px;
    background: blueviolet;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

