.preview-flex {
    background: #F9FAFC;
    padding: 68px 0 92px;
    overflow: hidden;
}

.preview-flex__container {
    margin: 0 -15px;
    display: flex;
}

.preview-flex__card {
    flex-basis: 350px;
    width: calc(33.33% - 30px); /* добавим чтобы содержимое не растягивало картоку а другие не сжимало */
    margin: 15px;
}

