.page {
    /* display: flex;
    flex-direction: column; */ /* прижатый к низу экрана футер */
}

.page__box {
    max-width: 1110px;
    margin: auto;
}

.page__main {
    /* flex-grow: 1; */ /* прижатый к низу экрана футер */
}